<div class="row body-margin">
  <div class="panel panel-default weather-panel">
    <div class="panel-header">
      <h1><b> ATMOSPHERE</b></h1></div>
    <div class="panel-body">

      <table class="table">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><i class="wi wi-humidity"></i> Himidity</td>
          <td> {{humidity}}</td>
        </tr>
        <tr>
          <td><i class="wi wi-barometer"></i> Pressure</td>
          <td>{{pressure}}</td>
        </tr>
        <tr>
          <td><i class="wi wi-wind wi-from-"></i> Rising</td>
          <td>{{rising}}</td>
        </tr>
        <tr>
          <td><i class="wi wi-dust"></i> Visibility</td>
          <td>{{visibility}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

